<app-header></app-header>

<!-- Jugador -->

<div class="card-jugador" style="width: 18rem;">
  <img src="../../../assets/Jugadores.jpg" class="card-img-top" width="250px" height="200px" alt="jugadores">
  <div class="card-body">
    <h5 class="card-title">Jugadores</h5>
    <p class="card-text">Realiza la Gestión de Jugadores como Añadir, Ver, Actualizar, Eliminar.</p>
    <button routerLink="/Jugador" class="btn btn-success">Realizar Gestión para Jugadores</button>
  </div>
</div>


<!-- Equipo -->

<div class="card-equipo" style="width: 18rem;">
  <img src="../../../assets/Equipos.jpg" class="card-img-top" width="250px" height="200px" alt="equipos">
  <div class="card-body">
    <h5 class="card-title">Equipos</h5>
    <p class="card-text">Realiza la Gestión de Equipos como Añadir, Ver, Actualizar, Eliminar.</p>
    <button routerLink="/Equipo" class="btn btn-success">Realizar Gestión para Equipos</button>
  </div>
</div>


<app-footer></app-footer>